* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}




.card {
  display: flex;
  background: white;
  border-radius: 20px;
}





.left-card {
  flex: 1;
  background: #6540ff;
  color: white;
  text-align: center;
  padding: 40px 20px;
  border-radius: 20px;
}



.result {
  font-weight: bold;
  letter-spacing: 1px;
  opacity: 0.9;
}



.score-card {
  background: #7a6fff;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.score {
  font-size: 48px;
  margin: 0;
}



.out-of {
  font-size: 14px;
}



.text {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.description {
  font-size: 14px;
}




.right-card {
  flex: 1;
  padding: 40px;
}

.summary {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}



.list-item div {
  margin-bottom: 15px;
}




.first, .second, .third, .fourth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
}

.first {
  background: #feeeec;
  color: #fe4545;
}
.second {
  background: #fff7e5;
  color: #fcab14;
}
.third {
  background: #dbf3f0;
  color: #01cb9c;
}
.fourth {
  background: #ededfa;
  color: #081dd4;
}


.item-score {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.712);
  font-size: 16px;
  margin: 0;
}

.out-of {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

.of {
color: rgba(255, 255, 255, 0.684);
  font-size: 14px;
}

.continue {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  background: #2b385c;
  color: white;
  font-weight: bold;
  font-size: 14px;
}




.list-item img {
  width: 20px; 
  height: 20px; 
  margin-right: 8px;
  vertical-align: middle;
}




.list-item div div {
  display: flex;
  align-items: center;
  gap: 8px;
}
